html {
  font-size: 16px;
  font-family: 'Fredoka', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  padding-bottom: 60px; 
}

.content {
  margin-left: 225px;
  padding: 40px;
  padding-bottom: 60px; 
  background-color: #f4f4f4;
  height: 100vh;
  width: calc(100% - 300px);
  flex-grow: 1;
  overflow: none;
}


h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: left; 
  margin-left: 20px; 
}

p {
  font-size: 1.2rem;
  color: #555;
  text-align: left;
  max-width: 1200px;
  margin: 0 20px;
  margin-left: 20px;
}

.check-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* damit Titel oben bleibt */
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  width: 95%;
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
  margin-left: 20px;
}

.check-content {
  flex: 1;
}

.check-card.checked {
  opacity: 0.6;
  transform: scale(0.98);
}

.checkmark {
  position: absolute;
  top: 15px;
  right: 15px;

}

.checkmark input[type="checkbox"] {
  width: 24px;
  height: 24px;
  accent-color: #22c55e;
  cursor: pointer;
}


.check-title {
  margin-top: 0;
  font-size: 1.5rem;
  color: #1e293b;
  text-align: left;
  margin-left: 0;
}

.check-description {
  font-size: 1.2rem;
  color: #475569;
  text-align: left;
  margin-left: 0;
  line-height: 1.6;
}


.tutorial-footer {
  font-size: 1.2rem;
  color: #333;
  text-align: left;
  max-width: 600px;
  margin-top: 30px;
  margin-left: 20px;
}

.tutorial-intro {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.text-section {
  flex: 1; 
  max-width: 50%; 
}

.image-section {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* optional: verhindert Überlauf */
}

.image-section img {
  max-width: 100%;
  height: auto;
  display: block;
}


.tutorial-intro img.tutorial-image {
  max-width: 500px; 
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tutorial-intro h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}

.tutorial-intro p {
  font-size: 1.2rem;
  color: #555;
  text-align: left;
  max-width: 600px;
}

.tutorial-intro h3 {
  font-size: 1.8rem;
  color: #1e293b;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 600;
  padding-bottom: 5px;
}

.tutorial-content {
  padding: 0 20px;
}

.tutorial-content h3 {
  font-size: 1.8rem;
  color: #1e293b;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tutorial-content p {
  font-size: 1.2rem;
  color: #555;
  text-align: left;
  line-height: 1.5;
}

.tutorial-content p br {
  margin-bottom: 5px;
}

